# Ignore the folder with data trees
Trees/

# Ignore any temporary files from a local/GRID analysis
*.d
*.so
*.pcm
*.root
*.xml
*.jdl

# File with the obsolete token
.token.txt

# Ignore the following folders
Documents/
Feynman diagrams/
STARlight_src/
Results/


